body{
	font-size: 25px;
}
button{
	font-size: 25px;
}

#back{
	display: none;
}
input, textarea{
	display: block;
}

#left, #right{
	display: inline-block;
	vertical-align: top;
	margin: 20px;
}

#card{
	width: 150px;
	height: 75px;
	text-align: center;
	border: 5px dotted black;
	margin-bottom: 10px;
}